@media screen and (max-width: 400px) {

    .medias {

        position: fixed;
        right: auto;
        top: auto;
        bottom: 0;
        transform: translateY(0%);
        display: flex;
        flex-direction: row;
        margin-left: 32%;


    }


}

@media screen and (max-width: 850px) {


    .footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.8fr 0.2fr;
        gap: 0px 0px;
        grid-template-areas:
    ". . ."
    ". . ."
    ". menu .";
    }
    .container-menu {
        grid-area: menu;
    }
    
    #menu{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        text-align: center;
    }

    .container-contact {
        position: relative;
        display: block;
        /*flex-direction: column;*/
        text-align: center;
        margin: auto;
        left: 0%;

    }

    svg {
        width: 30%;
    }

}
