*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*initialisation du background/police*/
body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100vh;
    background: url('../../src/pictures/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
}

/*luminosité appliqué sur le background*/
.brightness {
    backdrop-filter: brightness(50%);
    background-size: cover;
    background-attachment: fixed;
}

/*SideBar*/

.sidebar{
    position: fixed;
    left: -400px;
    width : 20%;
    height: 100%;
    background: #8000ff;
    transition: all .4s ease;

}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #3b007b;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 10%;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    text-decoration: none;
}

.sidebar ul li:hover a{
    padding-left: 20%;
}
/*Boutton ouverture et fermeture slidebar*/

#check{
    display: none;
}

label #btn-check-open , #btn-check-close {
    position: absolute;
    cursor: pointer;
    background: #3b007b;
    border-radius: 5px;
}

label #btn-check-open {
    left: 40px;
    top : 25px;
    color: white;
    transition: all .4s;
}

label #btn-check-close {
    z-index: 1111;
    left: -250px;
    top:10px;
    color: white;
    padding: 4px 6px;
    transition: all .4s ease;
}
/* si check est vérifier alors on repasse le left à 0 dans sidebar*/
#check:checked ~ .sidebar{
    left: 0;
}
/*Fait disparaitre le bouton d'ouverture du slidemenu*/
#check:checked ~ label #btn-check-open {
    left : 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #btn-check-close {
    left : 250px;
}

section{


    transition: .4s;
}

#check:checked ~ section {
    margin-left : 20%;
}