body{
    margin: 0;
}

.background{
    background: #343434;
}
.header{
    background: #1a1a1a;
    padding-top: 0.3% ;
}

a{
    text-decoration: none;
    color: #f1f1f1;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "Menu CV creation";
}

.Menu {

    justify-self: center;
    align-self: center;
    grid-area: Menu;
}

.CV {

    justify-self: center;
    align-self: center;
    grid-area: CV;
}

.creation {

    justify-self: center;
    align-self: center;
    grid-area: creation;
}

/*****************************************INDEX*********************************************/
.motivation-text {
    color: #f1f1f1;
    margin-left: 5%;
    margin-right: 5%;
}



/*****************************************CV*********************************************/

#photoidnt {
    max-width:100%;
    height:auto;
    position: relative;
    align-items: center;
}



#footer{

    text-align: center;
    position: absolute;

    vertical-align: middle;


}

.download{

    text-align: center;
    display: block;
    margin: auto;
    text-decoration:none;
}

.download a{
    text-decoration:none;
    color: #f1f1f1;
}

.download a:hover{
    color: #f1f1f1;
}

