/****************************GLOBAL*******************************************/

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*style du background global*/
.background{
    background: url("../../src/pictures/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    min-height: 100vh;
    backdrop-filter: brightness(50%);
}
/*style du header*/
.header{
    background: #1a1a1a;
    padding-top: 0.3% ;
}
/*Retire les décoration des liens et les passe en blanc*/
a{
    text-decoration: none;
    color: #e26e02;

}

/*Style des grilles de la navbar*/
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "Menu CV creation";
    padding-bottom: 1%;
    padding-top: 1%;
}

/*Style du bouton menu*/
.Menu {
    justify-self: center;
    align-self: center;
    grid-area: Menu;
}

/*retire les décorations a sur le CV*/
.Menu a {
    text-decoration: none;
    color: #e26e02;
}

/*Agrandi le bouton menu une fois que l'on passe dessus et ajoute une transition*/
.Menu:hover{
    transition: .4s;
    font-size: 130%;
}

/*Style du bouton CV*/
.CV {
    justify-self: center;
    align-self: center;
    grid-area: CV;
}

/*retire les décorations a sur le CV*/
.CV a {
    text-decoration: none;
    color: #e26e02;
}

/*Agrandi le bouton CV une fois que l'on passe dessus et ajoute une transition*/
.CV:hover{
    transition: .4s;
    font-size: 130%;
}

/*Style du bouton Creation*/
.creation {
    justify-self: center;
    align-self: center;
    grid-area: creation;
}

/*retire les décorations a sur le CV*/
.creation a {
    text-decoration: none;
    color: #e26e02;
}

/*Agrandi le bouton Creation une fois que l'on passe dessus et ajoute une transition*/
.creation:hover{
    transition: .4s;
    font-size: 130%;
}

/************************************FOOTER************************************************/

/*Style du footer*/
.footer{
    color: #e26e02;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1a1a1a;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.container_footer{
    display: flex;


}

.container_footer div {
    flex: 5;
}


/*****************************************INDEX*********************************************/

/*Style du texte de motivation*/
.motivation-text {
    color: #f1f1f1;
    margin-left: 5%;
    margin-right: 5%;
}



/*****************************************CV*********************************************/

/*Style de la photo d'indentité*/
#photoidnt {
    max-width:100%;
    height:auto;
    position: relative;
    align-items: center;
}


/*Style du footer du CV (spécial ajout en plus de boostrap sur CV)*/
#footer{

    text-align: center;
    position: absolute;
    color: #e26e02;
    vertical-align: middle;
}

#footer svg{
    color: #e26e02;
}

#footer p{
    color: #e26e02;
}

#footer a{
    text-decoration: none;
}


.download{

    text-align: center;
    display: block;
    margin: auto;
    text-decoration:none;
}

.download a{
    text-decoration:none;
    color: #f1f1f1;
}

.download a:hover{
    transition: .5s;
    color: #ff0000;
}

/**************************************creation*****************************************/

/* Style tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style des boutons utilisé pour ouvrir les contenues */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change la couleur du background quand la souris passe au dessus du bouton */
.tab button:hover {
    background-color: #ddd;
}

/* Change la couleur du background actif*/
.tab button.active {
    background-color: #ccc;
}

/* Style du contenue du tab */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    color: #f1f1f1;
    animation: fadeEffect 1s;



}

/* Pat de 0 jusqu'a  l'opacity total */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*contenue des onglets*/

.container_creation {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    justify-content: space-between;
    flex-wrap: wrap ;
    width: 1200px;
}

.container_creation .box {
   position: relative;
    width: 500px;
    height: 500px;
    margin: 40px;
    background: #1a1a1a;
    border-radius: 20px;


}

.container_creation .box .name{


    text-align: center;
    color: #f1f1f1;
    width: 100% ;
    transform-style: preserve-3d;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container_creation .box:hover .name{
    top: 10px;
    opacity: 1;
}

.container_creation .box .screen{
    position: absolute;
    top: 1%;
    left: 50%;
    max-height: 300px;
    min-height: 250px;
    max-width: 450px;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%,50%,0px);
    border-radius: 10px;
}

.container_creation .box .description{
    text-align: center;
    color: #f1f1f1;
    width: 100% ;
    transform-style: preserve-3d;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container_creation .box:hover .description{
    top: 10px;
    opacity: 1;
}